.vs
src/Presentation/API/obj
src/Presentation/API/bin
src/Application/Application/obj
src/Application/Application/bin
src/Domain/Domain/obj
src/Domain/Domain/bin
src/Infrastructure/Persistence/obj
src/Infrastructure/Persistence/bin
src/Presentation/API/appsettings.Development.json
tests/Application.Tests/bin
tests/Application.Tests/obj
tests/Domain.Tests/bin
tests/Domain.Tests/obj